body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg,#111,#2b0a3d);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
  margin-bottom: 10px;
}

p {
  color: #ccc;
}

#numero {
  font-size: 60px;
  margin: 20px 0;
  font-weight: bold;
  color: gold;
}

button {
  background: #ff4d6d;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #e63956;
}